<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InitStatic</servlet-name>
        <servlet-class>webapi.InitStatic</servlet-class>
        <load-on-startup>100</load-on-startup>
        <init-param>
            <param-name> initpi4j </param-name>
            <param-value> false </param-value>
        </init-param>
        <init-param>
            <param-name> dbtype </param-name>
            <param-value> sqlite </param-value>
        </init-param>
        <init-param>
            <param-name> env </param-name>
            <param-value>  </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Enter</servlet-name>
        <servlet-class>webapi.Enter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitStatic</servlet-name>
        <url-pattern>/InitStatic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitorConsole</servlet-name>
        <servlet-class>webapi.MonitorConsole</servlet-class>
        <load-on-startup>200</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorConsole</servlet-name>
        <url-pattern>/MonitorConsole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkerApi</servlet-name>
        <servlet-class>webapi.WorkerApi</servlet-class>
        <load-on-startup>200</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkerApi</servlet-name>
        <url-pattern>/WorkerApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enter</servlet-name>
        <url-pattern>/Enter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
